<!DOCTYPE html>
<html>
	<head>
		<title> Markdown into html example template</title>
		<meta name="description" content="Markdown into html example page" />
 		<meta name="keywords" content="markdown, showdown, node, ejs, npm" />
  	<meta name="author" content="me" />
		<meta charset="utf-8" />
		<meta http-equiv="X-Ua-Compatible" content="IE=Edge" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200" type="text/css" />
		<link rel="stylesheet" href="/assets/css/showdown.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css" />
	</head>
	<body class="showdownExample">
    <%- markdownToHtml %>
	</body>
</html>
